@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dot-list-style {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  list-style: none;
}

.custom-dot-list-style li {
  display: inline-block;
  margin: 10px 0px;
}

.custom-dot-list-style li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.custom-dot-list-style li.react-multi-carousel-dot--active button {
  background-color: red;
  border: 1px solid white;
  .header-404 {
    font-size: 4rem;
    text-align: center;
    color: blue;
  }
}
